@using network.BLL.EF
@model network.BLL.EF.AlbAndPhot

@using (Html.BeginForm("AddPhoto", "ImgAlbum", FormMethod.Post,
    new
    {
        @id = "id",
        @role = "form",
        @enctype = "multipart/form-data"
    }))

{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
     
        @*<hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="btn btn-default btn-file">
                Browse <input type="file" style="display:none;" name="img" />
            </label>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        

    </div>
}

