@model IQueryable<network.BLL.EF.Photoalbum>

<div class="glyphicon-plus">
    @Html.ActionLink("Add new photoalbum", "Create", "ImgAlbum", FormMethod.Get, null)
    </div>

<table>
    @{
        foreach (var item in Model)
        {
            <div class="col-md-3 glyphicon glyphicon-camera">
                <a href="@Url.Action("OpenAlbum", "ImgAlbum", new {id = item.Id})">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
        }
    }

</table>

