@model network.Views.ViewModels.OpenAlbumViewModel


<div class="glyphicon-plus">
        <input type="button" id="openModal" value="Add photo">
   </div>

    <table class="table">
       
    @foreach (var ph in Model.Photos)
    {
       
         
                <td>
                    <div class="col-lg-9">
                        <img id="user_img"
                             height="80"
                             width="80"
                             style="border: solid" src="data:image/png;base64, @Convert.ToBase64String(ph.Data)"
                             class="img-circle" />
                    </div>
                </td>
         
    }
      

</table>





    <div id="addModal" class="modal fade" data-url='@Url.Action("AddPhoto", "ImgAlbum",new {id=Model.Id},null)'>
        <div id="addContainer">
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(function() {
                $('#openModal').click(function() {
                    var url = $('#addModal').data('url');

                    $.get(url,
                        function(data) {
                            $('#addContainer').html(data);

                            $('#addModal').modal('show');
                        });
                });
            });
        </script>
    }


