@model network.Views.ViewModels.OpenAlbumViewModel





<div class="jumbotron" style="height: 100%;">
    <input type="button" class="btn-info" id="openModal" value="+">

    <hr/>
    @if (Model.Photos.Count > 0)
    {     
        @*<div class="row-fluid">*@
                @*<div class="items">*@



        foreach (var image in Model.Photos)
        {

            <div class="col-md-9 gallery">

                <img id="user_img" class="img-circle image gallery-img" 
                     src="data:image/png;base64, @Convert.ToBase64String(image.Data)"/>
            </div>
        }

    


            @*</div>*@
        @*</div>*@
    }
</div>







<div id="addModal" class="modal fade" data-url='@Url.Action("AddPhoto", "ImgAlbum",new {id=Model.Id},null)'>
    <div id="addContainer">
    </div>
</div>



@section Scripts{
        <script type="text/javascript">
            $(function() {
                $('#openModal').click(function() {
                    var url = $('#addModal').data('url');

                    $.get(url,
                        function(data) {
                            $('#addContainer').html(data);

                            $('#addModal').modal('show');
                        });
                });
            });
        </script>
    }



