
body {
}

.containerr {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;  
    height:auto;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}
.darkerNotVisibil {
    border-color: #ccc;
    background-color: #bdb2b2;
}

.containerr::after {
    content: "";
    clear: both;
    display: table;
}

.containerr img {
    float: left;
    max-width: 80px;
    width: 100%;
    margin-right: 20px;
    border-radius: 20%;
    height:80px;
}

.containerr img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    padding-right:30px;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}


.scr {
    overflow-x:auto;
    width:12px;
    background-color:#F5F5F5;
}

.chat {
    padding-left:15px;
    padding-right:15px;
    width:100%;
    height:550px;
    max-height:50%;
}

#Send {
    padding:15px;
}
#addMesg {
    height: 50px;
    width: 1180px;
    padding: 10px;
    margin: 10px 0;  

}

.avatar {
    height: 80px;
    padding-right:0px;
    margin-left:100px;
    height:100px;
    width: 140px;
}

.chatId {
    padding-top:20px;
}

/*.img +.chat {
    height:100px;
    width: 140px;
    border-radius: 25px;
}*/

