.thumbnail {
	/*height: 100px;*/
	margin: 6px;
}

.thumbnail {
	margin-bottom: 6px;
}


.carousel-control.left {
	background-image: none;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 100%;
	transform: translateY(-50%);
}

.carousel-control.right {
	background-image: none;
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: 100%;
	transform: translateY(-50%);
}

.item .thumbnail {
	margin: 0 auto;
}

body {
	margin: 20px !important;
}