@model BLL.ViewModels.SelectReceiver
    

<div id="selectReceiverDialog">
    <div class="modal-dialog">
        <div class="modal-content">
             
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                <h4 class="modal-title header">Select receiver</h4>
            </div>
                <div class="modal-body">
                            @if (Model.FriendsList != null)
                            {
                                <div class="scrolSelRec">
                                    <hr />
                                    @foreach (var friend in Model.FriendsList)
                                    {
                                        <a href="#">
                                            <div id="beginChat" data-id="@friend.Id" onclick="selectRes(this)" class="row  .content_for_friends text">
                                                <img class="select_friend_img" src="data:image/jpg;base64,@friend.Image">
                                                @Html.DisplayFor(modelItem => friend.LastName)
                                                @Html.DisplayFor(modelItem => friend.FirstName)
                                            </div>
                                        </a>
                                        <hr />
                                    }
                                </div>
                            }
                </div>
            </div>
        </div>
</div>


<script type="text/javascript">

    function selectRes(element) {

        var recId = $(element).data('id');

        $.ajax({
            url: '@Url.Action("SelectReceiver", "Messages")',           
            type: "POST",
            data: { 'receiverId': recId },
            success: function (response) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {               
                $('#selectMod').modal('hide');}
             });    
    };

</script>

