
@model IEnumerable<network.BLL.EF.Images>



@{ Html.BeginForm("AddPhoto", "Users", new {},FormMethod.Post); 
    <input id="file" type="file" name="file" />
    <p></p>
    <input id="submit" type="submit" value="Upload" />
}



